@charset "UTF-8";

.album_item {
	overflow: auto;
	padding: 3%;
}

.album_item .photo_wrap, .album_item .discription {
	float: left;
}

.album_item .photo_wrap {
	width: 35%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.album_item .photo_wrap .photo {
	display: flex;
	width: 90%;
	border: 5px solid gray;
}

.album_item .discription {
	width: 57%;
	text-align: left;
	padding: 0 3%;
	line-height: 2em;
}

.line {
	border-top: 1px solid #EEE;
}